.colorPaletteContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.colorPaletteItem {
    height: 5rem;
    color: var(--text-inverted);
    border: 2px solid var(--neutral-400);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 0.8rem;
}

@for $i from 1 through 8 {
    .red#{$i} {
        background-color: var(--red-#{$i});
    }
}

@for $i from 1 through 8 {
    .blue#{$i} {
        background-color: var(--blue-#{$i});
    }
}

@for $i from 1 through 8 {
    .violet#{$i} {
        background-color: var(--violet-#{$i});
    }
}

@for $i from 1 through 8 {
    .orange#{$i} {
        background-color: var(--orange-#{$i});
    }
}

@for $i from 1 through 8 {
    .green#{$i} {
        background-color: var(--green-#{$i});
    }
}

@for $i from 1 through 8 {
    .yellow#{$i} {
        background-color: var(--yellow-#{$i});
    }
}
