@import '../mixins.scss';

.specialLink {
    @include reset-default-anchor();

    color: var(--text-secondary);
    font-weight: 400;
    margin: 0;
    margin-bottom: 30px;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 1.2rem;

    &:hover,
    &:active,
    &:focus {
        color: var(--text-secondary);
        border-bottom: 2px solid var(--accent);
        padding-bottom: 4px;
    }
}
