---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <section>
        <h1 class="mb-5 text-3xl">
            hi, i&apos;m <b>dickwyn</b>
        </h1>
        <section class="grid gap-2">
            <p>
                i&apos;m a software engineer passionate about creating delightful web experiences.
                with 5+ years of experience, i currently build fraud prevention solutions to protect{
                    ' '
                }
                <a href="https://microsoft.com" target="_blank" rel="noopener noreferrer">
                    Microsoft</a
                >&apos;s digital ecosystem.
            </p>
            <p>
                i was born and raised in{' '}
                <a href="https://www.malaysia.travel" target="_blank" rel="noopener noreferrer">
                    Malaysia
                </a>{' '}
                and earned my computer science degree from{' '}
                <a href="https://www.asu.edu" target="_blank" rel="noopener noreferrer"> ASU</a>
            </p>
            <p>
                right now, i&apos;m all about running—working my way up to a marathon. i used to
                share how technology impacts my everyday life on my{' '}
                <a href="https://www.youtube.com/dickwyn" target="_blank" rel="noopener noreferrer">
                    YouTube
                </a>{' '}
                channel, but now i&apos;m just running with it (literally).
            </p>
            <p>
                my interests include consumer technology, airplanes, photography, videography,
                traveling, and exploring new cuisines.
            </p>
        </section>
    </section>
</Layout>
