---
import Base from '../layouts/Base.astro';
---

<Base>
	<section>
		<h1 class="mb-5 text-3xl">
			hi, i'm <b>dickwyn</b>
		</h1>
		<section class="grid gap-4">
			<p>
				i'm a software engineer passionate about creating secure and delightful web
				experiences. at <a href="https://microsoft.com" target="_blank" rel="noopener noreferrer">Microsoft</a>,
				i focus on developing fraud protection solution that help protect the company's digital
				ecosystem.
			</p>
			<p>
				i was born and raised in <a href="https://www.malaysia.travel" target="_blank" rel="noopener noreferrer">malaysia</a>
				and earned my computer science degree from <a href="https://www.asu.edu" target="_blank" rel="noopener noreferrer">arizona state university</a>.
				i used to share how technology impacts everyday life on my <a
					href="https://www.youtube.com/dickwyn"
					target="_blank"
					rel="noopener noreferrer"
				>youtube</a>
				channel, documenting my journey through the intersection of tech and daily
				experiences.
			</p>
			<p>
				beyond work, i'm currently into weightlifting and running as i train my way to a full
				marathon. my other interests include formula 1, airplanes, credit cards, photography,
				videography, traveling, and trying out new food spots - basically anything that mixes
				curiosity with a bit of adventure.
			</p>
		</section>
	</section>
</Base>
