---
import { getCollection, render } from 'astro:content';
import Base from '../layouts/Base.astro';

const sections = (await getCollection('things')).sort((a, b) => a.data.order - b.data.order);
const rendered = await Promise.all(sections.map(async (section) => ({
	...section,
	rendered: await render(section),
})));
---

<Base title="Things" description="Hardware and software that I use daily.">
	<div>
		<p class="mb-4">
			From casual web browsing to creating content for YouTube, here's a comprehensive list of
			hardware and software that I use on a daily basis to create and consume content.
		</p>
		<p class="mb-4">I enjoy trying out new things so this list will be updated accordingly.</p>
		{
			rendered.map(({ data, rendered: { Content } }) => (
				<section class="mb-8">
					<h2 class="font-semibold text-2xl mt-5 mb-3 border-b-3">{data.title}</h2>
					<article class="things">
						<Content />
					</article>
				</section>
			))
		}
	</div>
</Base>
