html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  &.dark-mode {
    background-color: #000;
    color: #fff;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  // h/t to josh - https://www.joshwcomeau.com/css/full-bleed/
  &.wrapper {
    display: grid;
    grid-template-columns:
      1fr
      min(65ch, 100%)
      1fr;
    & > * {
      grid-column: 2;
    }
  }

  .full-bleed {
    width: 100%;
    grid-column: 1 / 4;
  }
}

a.a11y-skip-link {
  & {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
  }

  &:focus,
  &:active {
    position: relative;
    display: inline-block;
    background: var(--background);
    color: var(--accent);
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    border: 0.25rem solid var(--accent);
    padding: 1rem;
    font-size: 1.4em;
    z-index: 999;
    text-align: center;
    transition: opacity 0.2s ease-in;
  }
}
