.minimalHeading {
  font-weight: 500;
}

.title {
  font-size: var(--h3-size);
  margin-bottom: 1ch;
}

.subtitle {
  font-size: var(--h4-size);
  margin-bottom: 0.8ch;
}

.newSection {
  margin-top: 1rem;
}

.mutedText {
  color: var(--text-secondary);
}
