@import './variables.scss';

@mixin wrapper {
    // h/t to josh - https://www.joshwcomeau.com/css/full-bleed/
    display: grid;
    grid-template-columns:
        1fr
        min(calc($max-wrapper-size / 2), 50%)
        min(calc($max-wrapper-size / 2), 50%)
        1fr;

    @media (max-width: $tablet-breakpoint) {
        padding: 0 var(--horizontal-padding);
    }
}

@mixin wrapper-gutters {
    padding: var(--vertical-padding) var(--horizontal-padding);
    align-items: center;
}

@mixin reset-default-anchor {
    background: none;
}
